.header{
 background:linear-gradient(90deg, rgba(255, 255, 255, 0.846673703661152) 0%, rgba(236, 0, 0, 1) 77%);
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}