.btn {
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
    padding: 5px 15px;
    border: 1px solid wheat;
    border-radius: 5px;
    background-color: beige;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 2px;
}

.btn:hover {
    border-color: red;   
    scale: 1.05;
    transition: 250ms;
}

.item {
    margin-bottom: 10px;
    letter-spacing: 2px;
}