.container{
    z-index: 0;
    height: 100vh;
    background-color:darkturquoise;
    background-image: url(../../images/home-background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}